:root{
    /* --color-principal: #eadbf3;
    --color-secundario: #ac6ec7;
    --color-terciario: #55305f; */
    --color-principal: #d8d3f4;
    --color-secundario: #f4d8d3;
    --color-terciario: #97D9E1;
    /* --color-principal: #d8d3f4;
    --color-secundario: #f4d8d3;
    --color-terciario: #d3f4d8; */
    /* --color-principal: #634ac7;
    --color-secundario: #a24ac7;
    --color-terciario: #4068C4; */
}

*{
    box-sizing: border-box;
}


body{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    margin: 0;/* 
    background: var(--color-terciario);
    background: linear-gradient(0deg, var(--color-secundario) 0%, var(--color-principal) 100%); */
    min-height: 100vh;
    /* max-width: 9vw; */
    /* width: 100vw; */
    overflow-x: hidden;
}

nav{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 15px 0;
    /* background-color: var(--color-terciario); */
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

main{
    /* background-color: var(--color-principal); */
    width: 100%;
    height: max-content;
}

.logo{
    display: grid;
    grid-column: span 1/ span 1;
    grid-row: 1;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.barra-de-busqueda{
    display: flex;
    width: 100%;
    min-width: 300px;
    grid-column: span 2/ span 2;
    grid-row: 1;
    height: 100%;
    align-items: center;
    margin: 0;
}
.barra-de-busqueda input, .barra-de-busqueda button{
    border: 0;
    border-radius: 10px;
    margin: 0 2px;
    padding: .5rem;
    /* background-color: var(--color-secundario); */
}
button{
    cursor: pointer;
}
.contenedor{
    display: block;
    width: max-content;
    margin: 50px auto;
    max-width: 100%;
}
.titulo-seccion{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
.contenedor .seccion-productos{
    display: flex;
    background-color: var(--color-principal);
    margin: 10px 10px;
    /* border-radius: 20px; */
    overflow: auto;
    /* scrollbar-width: thin; */
    /* width: minmax(100%, calc(200px * 6)); */
    min-width: 90%;
    max-width: calc(200px * 6);
}
.seccion-productos::-webkit-scrollbar{
    height: 10px;
}
.seccion-productos::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.322);
    border-radius: 10px;
}

.producto{
    padding: 5px 30px;
    min-width: 350px;
    max-width: calc(100% / 3);
    border-width: 0 1px;
    border-style: solid;
    border-color: var(--color-terciario);
}
.item-imagen{
    width: 100%;
    height: 200px;
    align-self: end;
    object-fit: contain;
}
.barra-de-busqueda input{
    width: 100%;
}
.cont-puntuacion{
    width: max-content;
    /* text-align: center; */
}
.item-puntuacion-vacia{
    content: "☆☆☆☆☆";
    letter-spacing: 3px;
    color: #e8f80b;
    z-index: 0;
    position: relative;
    width: fit-content;
}
.item-puntuacion{
    content: "★★★★★";
    letter-spacing: 3px;
    color: #e8f80b;
    position: absolute;
    overflow: hidden;
    left: 0;
    z-index: 1;
}
.btn-add-carrito{
    border: 0;
    padding: .5rem;
    border-radius: .5rem
}

.seccion-categorias{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-wrap: wrap;
    min-width: 70%;
    max-width: 650px;
    justify-content: center;
    gap: 5rem;
    margin: 50px auto;
}
.categoria{
    background-color: var(--color-principal);
    padding: 65px;
    border-radius: 50px;
    width: 250px;
    text-align: center;
    align-content: center;
}
.item-descripcion{
    width: 100%;
    /* height: 250px; */
    /* text-overflow: ellipsis; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.item-precio{
    font-size: 1.2rem;
    font-weight: bold;
}
.item-precio::before{
    content: "$";
}

.separacion-superior{
    margin-top: 30px;
}

.seccion-resultados{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.icono-carrito, .icono-logueo{
    width: 1.2rem;
}
.carrito, .logueo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 5px;
}
.contenedor-carrito-login{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.separacion{
    border: 1px solid rgba(128, 128, 128, 0.164);
}